body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
  width: 0px
}

em, i {
  font-style: normal;
}

p ,h4{
  margin: 0;
  padding: 0;
}

.reset .el-input__prefix {
  padding: 0 10px;
}

.reset .el-input__inner {
  padding-left: 55px;
}

.reset .el-input, .reset .el-button--primary {
  width: 86%;
  margin: 13px 0;
}

.active {
  background-color: rgba(0, 0, 0, .3);;
}

.lractive {
  color: #2795dc;
  border-bottom: 2px solid #2795dc;
}

.__view{
  min-height: 94% !important;
}

@keyframes flash {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transform: scale(.95)
  }
}
