<template>
  <div class="change-paw">
    <ul>
      <li>
        <span>旧&nbsp;密&nbsp;&nbsp;码:</span>
        <input type="text" v-model="oldPwd">
      </li>
      <li>
        <span>新&nbsp;密&nbsp;&nbsp;码:</span>
        <input type="text" v-model="newPwd1">
      </li>
      <li>
        <span>确认密码:</span>
        <input type="text" v-model="newPwd2">
      </li>
    </ul>
    <el-button type="success" style="margin: 15px 0" @click="change">保存</el-button>
  </div>
</template>

<script>
  import {changePwd} from "../api";

  export default {
    name: "changepaw",
    data() {
      return {
        oldPwd: '',
        newPwd1: '',
        newPwd2: ''
      }
    },
    methods: {
      change() {
        const par=this.newPwd1
        changePwd(par).then((res) => {
             console.log(res)
          if(res.code!=0||this.newPwd1!=this.newPwd2){
            this.$notify({
              title: '成功',
              duration:2000,
              message: `修改成功`,
              type: 'success'
            });
          }else {
            window.alert("修改成功")
          }
        })
      }
    }
  }
</script>

<style scoped lang="less">
  .change-paw {
    font-size: 14px;
    background-color: #fff;
    width: 460px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    ul {
      padding: 13px;
      display: flex;
      text-align: left;
      flex-direction: column;

      li {
        width: 100%;
        height: 35px;
        line-height: 35px;

        input {
          width: 80%;
          outline: none;
          border: none;
          border-bottom: 1px solid #000;
          margin-left: 15px;
        }
      }
    }
  }
</style>
