<template>
  <div class="home" :style="homeBg" v-cloak>
    <el-container style="height: 100%">
      <el-header>
        <div class="header-left">
          <div class="logo-bg"></div>
          <div class="save-pc">
            <i class="iconfont  icon-pc"></i>
            <span>保存到桌面</span>
          </div>
          <div class="save-mobile" @mouseenter="showApp=true" @mouseleave="showApp=false">
            <i class="iconfont  icon-shouji"></i>
            <span>手机版</span>
            <div class="watch-app" v-if="showApp">
              <img src="../assets/images/qrcode.png" alt="">
              <p>手机扫一扫</p>
              <p>随时随地看直播</p>
            </div>
          </div>
          <el-button type="primary" size="small" round class="search-button" @mouseenter.native="showCustomer=true"
                     @mouseleave.native="showCustomer=false">
            <i class="iconfont  icon-qq"></i>客服
          </el-button>
          <el-button type="primary" size="small" round class="download">
            <i class="iconfont  icon-download"></i><em>APP下载</em>
          </el-button>

          <ul class="tit" v-if="showCustomer" @mouseenter="showCustomer=true" @mouseleave="showCustomer=false">
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1491356434&site=qq&menu=yes" target="_blank">游戏客服</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1492146118&site=qq&menu=yes" target="_blank">聊天室客服</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1501895123&site=qq&menu=yes" target="_blank">聊天室客服</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=3035111888&site=qq&menu=yes" target="_blank">PILIPILI客服</a>
            </li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1418098585&site=qq&menu=yes" target="_blank">彩票客服</a></li>
          </ul>
        </div>

        <div class="header-middle" v-if="userGroupRole==4">
          <span class="Sking">{{this.nick}}</span>
        </div>

        <div class="header-right">
          <div class="Sking" @click="showBg=true">
            <i class="iconfont  icon-huanfu"></i>
            <span>换肤</span>
          </div>
          <div v-if="userGroupRole==4">
            <el-button type="warning" round icon="el-icon-s-custom" size="small" @click.native="showLogin">登录
            </el-button>
            <el-button round icon="el-icon-user" size="small" @click.native="showRegister">注册</el-button>
          </div>

          <div v-else @mouseenter="showUserInfo=true" @mouseleave="showUserInfo=false">
            <el-button type="primary">
              {{this.$store.getters.nick}}
              <i class="el-icon-arrow-down"></i>
            </el-button>

            <div class="userInfo" v-if="showUserInfo" @mouseenter="showUserInfo=true" @mouseleave="showUserInfo=false">
              <div style="cursor: default">
                <img :src="this.$store.getters.userImg" alt="">
                <span>{{this.$store.getters.account}}</span>
              </div>
              <div @click="showUserSet=true" style="cursor: pointer">个人资料</div>
              <div @click="logOut" style="cursor: pointer">退出登录</div>
            </div>
          </div>
        </div>
      </el-header>

      <el-container style="margin-top: 5px;height: 100%;padding-bottom: 6px">
        <el-aside width="200px" v-show="showAside">
          <router-link to="/home" class="online-user">在线会员({{groupUserList.length}})</router-link>
          <router-link to="/customer" class="customer">客服/管理</router-link>
          <router-view></router-view>
        </el-aside>

        <el-main>
          <div class="toggleAside" ref="aside" @click="toggleAside">
            <i class="iconfont icon-jiantouarrowheads3"></i>
          </div>
          <div class="skin" v-if="showBg">
            <div class="title">
              <i>背景图片切换</i>
              <i class="el-icon-close" @click="showBg=false"></i>
            </div>
            <img v-for="(item,index) in 15" :key="index" :data-action="item"
                 :src="require(`@/assets/images/skin${item}.jpg`)"
                 @click="toggleBg($event)">
          </div>
          <div class="main-header">
            <span>公告:</span>
            <img src="../assets/images/laba.png" alt="广播">
            <marquee scrollamount="4" class="move-tips" id="annou_marquee">
              <span style="color:#FF0">{{announcement}}</span>
            </marquee>
          </div>
          <div class="msgcontent">
            <div class="icon qingkong">
              <div v-if="userGroupRole==2">
                <i :class="bannedIcon" id="bannedicon" @click="sendBanned"></i>
                <p>{{bannedHint}}</p>
              </div>
              <p></p>
              <i class="iconfont icon-qingkong" @click="clearScreen"></i>
              <p>清屏</p>
            </div>
            <!--            <div class="icon rili" @click="showCalendar=true">-->
            <!--              <i class="iconfont icon-rili"></i>-->
            <!--              <p>签到</p>-->
            <!--            </div>-->
            <vue-scroll :ops="ops" @handle-resize="handleResize" @handle-scroll="handleScroll"
                        @handle-scroll-complete="handleComplete" ref="vs">
              <div class="msgbox" v-for="(item,index) in allMsgArr" :key="index">
                <div v-if="item.isBroadcast">
                  <div style="margin:0 auto;color: #d83624;" class="layim_chatsay1"
                       v-html="item.content.replace(/\#[\u4E00-\u9FA5]{1,3}\;/gi, emotion)"></div>
                </div>
                <div v-else>
                  <div style="text-align: left">
                    <img :src="item.userImg" alt="" class="userImg">
                    <div class="user-text">
                      <span>{{item.name}}</span>
                      <span>{{item.times|format}}</span>
                    </div>
                  </div>
                  <!--                文本-->
                  <div class="layim_chatsay bubble" v-html="item.msg.replace(/\#[\u4E00-\u9FA5]{1,3}\;/gi, emotion)"
                       v-if="item.type==0"></div>
                  <!--                图片-->
                  <div v-else-if="item.type==1" class="userInfo-img bubble" v-viewer>
                    <img :src="item.msg">
                  </div>
                  <!--                  红包-->
                  <div class="redpacket bubble" v-else-if="item.type==6">
                    <div class="redpacketbox" :data-redid="item.msg[0]" @click.stop="grabRedPacket($event)">
                      <img src="../assets/images/hongbao.png" :data-redid="item.msg[0]"
                           @click.stop="grabRedPacket($event)">
                      <span :data-redid="item.msg[0]" @click.stop="grabRedPacket($event)">{{item.msg[1]}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </vue-scroll>
          </div>
          <div class="tips">
            <div style="margin-left: 7px">
              <a href="http://wpa.qq.com/msgrd?v=3&uin=1491356434&site=qq&menu=yes" target="_blank">
                <i class="iconfont icon-qq"></i>
                <span>游戏客服</span>
              </a>
              <a href="http://wpa.qq.com/msgrd?v=3&uin=1492146118&site=qq&menu=yes" target="_blank">
                <i class="iconfont icon-qq"></i>
                <span>聊天室客服</span>
              </a>
              <a href="http://wpa.qq.com/msgrd?v=3&uin=1492146118&site=qq&menu=yes" target="_blank">
                <i class="iconfont icon-qq"></i>
                <span>聊天室客服</span>
              </a>
              <a href="http://wpa.qq.com/msgrd?v=3&uin=3035111888&site=qq&menu=yes" target="_blank">
                <i class="iconfont icon-qq"></i>
                <span>PILIPILI客服</span>
              </a>
              <a href="http://wpa.qq.com/msgrd?v=3&uin=1418098585&site=qq&menu=yes" target="_blank">
                <i class="iconfont icon-qq"></i>
                <span>彩票客服</span>
              </a>
            </div>
            <div class="tar">
              <i class="iconfont icon-biaoqing" @click.stop="showEmotion=true"></i>
              <i class="iconfont icon-hongbao" @click="redshow=true" v-if="userGroupRole==2"></i>
              <div class="sum_i">
                <i class="iconfont icon-tupian1" style="display: inline-block"></i>
                <input type="file" multiple accept="image/*" id="chat_file" @change="uploadAvatar">
              </div>
              <!--              <span>-->
              <!--                   对<em>大家</em>说-->
              <!--               </span>-->
            </div>
            <!--    表情组件-->
            <emotion class="container" @emotion="handleEmotion" v-show="showEmotion"></emotion>
          </div>
          <div class="msg">
            <textarea placeholder="文明聊天，共创优质的聊天环境，如有问题请咨询在线客服~注册才可以抢红包喔" v-model="content"
                      v-paste="handlePaste" @focus="showEmotion=false" v-on:keyup.enter="sendMsg">
            </textarea>
            <!--<div class="editor textarea" contenteditable="true"></div>-->
            <el-button type="primary" class="send" @click="sendMsg"></el-button>
          </div>
        </el-main>
      </el-container>
    </el-container>

    <!--    用户信息修改-->
    <user-setting :status.sync="showUserSet" v-if="showUserSet"></user-setting>

    <!--      日历组件-->
    <calendar v-if="showCalendar" :calStatus.sync="showCalendar"></calendar>

    <!--     登录注册-->
    <div class="lr" v-if="this.$store.state.showLr">
      <div class="lr-title">
        <i class="iconfont icon-htmal5icon19 lr-close" @click="closeLr"></i>
        <div v-for="(v,index) in tabs" :key="v" :class="['tab-button',{lractive:currentIndex==index}]"
             @click="toggleLr(index)">{{v}}
        </div>
      </div>
      <keep-alive>
        <component :is="currentView"></component>
      </keep-alive>
      <div class="lr-footer"></div>
    </div>

    <div class="redbox" v-if="redshow">
      <i class="iconfont icon-htmal5icon19 red-close" @click="redclose"></i>
      <div>
        <span>红包金额</span>
        <el-input style="width: 54%" size="small" v-model.trim="redmoney"></el-input>
      </div>
      <div>
        <span>红包个数</span>
        <el-input style="width: 54%" size="small" v-model.trim="redcount"></el-input>
      </div>
      <div>
        <span>红包留言</span>
        <el-input style="width: 54%" size="small" v-model.trim="redmsg"></el-input>
      </div>
      <el-button type="primary" style="padding: 12px 50px" @click="sendRedPacket">发送</el-button>
    </div>

    <div class="redDetail" v-if="redDetailshow">
      <i class="iconfont icon-htmal5icon19 redDetailClose" @click="closeredDetail"></i>
      <img :src="redSendPeoplePic ? redSendPeoplePic : require('@/assets/images/null.jpg')" alt="">
      <em>{{redSendPeople}}的红包</em>
      <span v-show="grabMoney!=0">{{grabMoney}}元</span>
      <p class="baginformation">已领取{{redLast}}/{{redSum}}个，共{{redTotalAmount}}元</p>
      <ul>
        <li v-for="item in getRedUserList" :key="item.getUserid">
          <div class="leftinfo">
            <img :src="item.url ? item.url : require('@/assets/images/null.jpg')" class="userredimg">
            <div>
              <i>{{item.nickName}}</i>
              <i style="font-size: 12px;color: #a0a0a0">{{item.getTime}}</i>
            </div>
          </div>
          <div>{{item.money}}元</div>
        </li>
      </ul>
    </div>

    <div class="failred" v-if="redfailshow">
      <i class="iconfont icon-htmal5icon19 redDetailClose" @click="closeredFail"></i>
      <img :src="redSendPeoplePic ? redSendPeoplePic : require('@/assets/images/null.jpg')" alt="">
      <p>{{redSendPeople}}的红包</p>
      <p>手慢了,红包派完了</p>
      <span @click="lookOther">看看大家的手气>></span>
    </div>

    <div class="failred" v-if="alreadyGrab">
      <i class="iconfont icon-htmal5icon19 redDetailClose" @click="closealreadyGrab"></i>
      <img :src="redSendPeoplePic ? redSendPeoplePic : require('@/assets/images/null.jpg')" alt="">
      <p>{{redSendPeople}}的红包</p>
      <p>您已经抢过该红包</p>
      <span @click="lookOther">看看大家的手气>></span>
    </div>

    <div class="failred" v-if="invalidRed">
      <i class="iconfont icon-htmal5icon19 redDetailClose" @click="closeinvalidRed"></i>
      <img :src="redSendPeoplePic ? redSendPeoplePic : require('@/assets/images/null.jpg')" alt="">
      <p>{{redSendPeople}}的红包</p>
      <p>该红包已过期</p>
    </div>

  </div>
</template>

<script>
  import {mapState} from "vuex";
  import login from './login'
  import register from './register'
  import calendar from './calendar'
  import Emotion from './Emotion'
  import userSetting from './usersetting.vue'
  import {Loading} from 'element-ui'
  import {uploadImg, sendRedPacket, grabRedPacket, showRedPacketDetail, getAnnounce} from '../api'
  // import {mix} from '../mixins'

  export default {
    name: "home",
    // mixins: [mix],
    data() {
      return {
        //ws心跳包
        heartCheck: {
          that: this,
          timeout: 60000,
          timeoutObj: null,
          reset: function () {
            clearTimeout(this.timeoutObj);
            this.start();
          },
          start: function () {
            this.timeoutObj = setTimeout(() => {
              this.that.ws.send(JSON.stringify({cmd: 13}))
            }, this.timeout)
          }
        },
        ops: {
          bar: {
            background: '#fff',
            minSize: 0,
            opacity: .3,
            size: '4px',
          },
          vuescroll: {
            detectResize: true,
            mode: 'native',
            sizeStrategy: 'percent'
          },
          scrollPanel: {
            scrollingX: false,
            scrollingY: true,
            initialScrollY: "100%"
          }
        },
        showUserInfo: false,
        showApp: false,
        showAside: true,
        showCustomer: false,
        showBg: false,
        showEmotion: false,
        currentIndex: 0,
        showUserSet: false,
        showCalendar: false,
        review: false,
        homeBg: {
          backgroundImage: "url(" + require('@/assets/images/bg3.jpg') + ")",
        },
        tabs: ['登录', '注册'],
        currentView: 'login',
        // Manager: false,
        // manager: [],
        tar: null,
        ws: null,
        content: '',
        // selfNick: '',
        userId: '',
        account: '',
        nick: '',
        groupId: '1', // 用户登录后默认进聊天室群组1
        userGroupRole: '', //用户所在群组角色 (1:群主) 2:管理员 3:成员 4:游客
        groupUserIds: [],
        groupUserList: [],
        // userNick: '',
        //存储所有消息
        allMsgArr: [],
        bannedInd: '', // 是否禁言 1：禁言、0：取消禁言
        bannedIcon: '', // 禁言图标
        bannedHint: '', // 禁言提示
        redshow: false,
        redDetailshow: false,
        redfailshow: false,
        alreadyGrab: false,
        invalidRed: false,
        getRedUserList: [],
        redid: '',
        thisredid: '',
        redmoney: '',
        grabMoney: '',
        redSendPeople: '',
        redSendPeoplePic: '',
        redcount: '',
        redmsg: '恭喜发财',
        redTotalAmount: '',
        redSum: '',
        redLast: '',
        //广播轮播
        slideTimer: '',
        announcements: [],
        announcement: '',
        slideshowIndex: 0,
        start: -1
      }
    },
    components: {
      login,
      register,
      calendar,
      Emotion,
      userSetting
      // shortcut
    },

    methods: {
      // 获取ws地址
      getWsUrl() {
        const token = sessionStorage.getItem('token') || ''
        const url = `ws://23.225.140.154:8888?token=${token}`
        return url
      },

      //获取左侧用户列表
      getUserList() {
        const userPar = {
          cmd: 17,
          type: 0,
          group_id: this.groupId,
        }
        this.ws.send(JSON.stringify(userPar))
      },

      //处理ws返回的消息
      dealMsg() {
        this.ws.onmessage = (e) => {
          this.heartCheck.reset()
          let newMessage = JSON.parse(e.data)
          //用户上线
          if (newMessage.command === 6) {
            if (newMessage.code === 10007) {
              console.log('-用户上线(user:', newMessage.user, ')')
              this.userId = newMessage.user.id
              this.account = newMessage.user.account
              this.nick = newMessage.user.nick
              if (newMessage.user.userType === 2) { // 用户类型  0:游客   1:会员   2:管理员
                this.userGroupRole = 2
              } else if (newMessage.user.userType === 1) {
                this.userGroupRole = 3
              } else {
                this.userGroupRole = 4
              }
              sessionStorage.setItem('userid', newMessage.user.id)
              sessionStorage.setItem('account', newMessage.user.account)
              sessionStorage.setItem('nick', newMessage.user.nick)
              console.log('用户角色:' + this.userGroupRole)
              // this.$store.commit('handleUserGroupRole', this.userGroupRole)
              this.bannedState() // 获取群禁言状态
              this.getUserList()
            }
          }
          // 用户加入群组
          if (newMessage.command === 8) {
            let user = newMessage.data.user
            console.log('------用户加入群组(user:', user, ')------')
            if (newMessage.data.group === this.groupId) {
              // console.log(JSON.stringify(newMessage))
              this.$store.commit('handleGroupId', newMessage.data.group)
              let index = this.groupUserIds.indexOf(user.id)
              if (index !== -1) {
                // this.$set(this.groupUserList, index, user)
              } else {
                this.groupUserIds.push(user.id)
                this.groupUserList.push(user)
              }
              this.$store.commit('handleUserList', this.groupUserList)
              // this.getUserList()
              this.showUserOnline(user.nick)
            }
          }
          //用户下线(退出群组通知)
          if (newMessage.command === 10) {
            let user = newMessage.data.user
            console.log('用户下线(user:', user, ')-')
            let index = this.groupUserIds.indexOf(user.id)
            if (index !== -1) {
              this.groupUserList.splice(index, 1)
              this.groupUserIds.splice(index, 1)
            }
            this.$store.commit('handleUserList', this.groupUserList)
            // console.log(JSON.stringify(newMessage))
          }
          //历史消息
          if (newMessage.command === 20) {
            // console.log(JSON.stringify(newMessage))
            const msg = newMessage.data.groups['1']
            if (msg) {
              msg.forEach((item) => {
                item.type = item.msgType
                item.times = item.createTime
                if (item.extras.fromAvatar) {
                  item.userImg = item.extras.fromAvatar
                } else {
                  item.userImg = require('@/assets/images/null.jpg')
                }
                item.msg = item.msgType === 6 ? item.content.split('-') : item.content
                item.name = item.extras.fromNick
                this.allMsgArr.unshift(item)
                // this.handleResize()
              })
            }
          }
          // (系统)广播消息
          if (newMessage.command === 50) {
            // console.log(newMessage)
            let newMsg = {}
            newMsg.isBroadcast = true
            newMsg.content = newMessage.data.content
            this.allMsgArr.push(newMsg)
          }
          // 一般聊天消息
          if (newMessage.command === 11) {
            // 过滤游客或一般成员(非群组管理员)自己发送的一般群聊消息
            if (this.userGroupRole !== 2 && newMessage.data.from === this.userId && newMessage.data.group_id) {
              return false
            }
            this.operNewmessage(newMessage)
          }
          // 群聊审核响应消息
          if (newMessage.command === 41) {
            // 显示用户自己发送的审核响应消息，其他则不显示
            // console.log(newMessage)
            if (newMessage.data.from === this.userId) {
              this.operNewmessage(newMessage);
            }
          }
          // 群聊禁言状态
          if (newMessage.command === 22) {
            this.bannedInd = newMessage.data.bannedInd
            if (this.bannedInd === 1) {
              this.showBanned()
            }
          }
          // 用户信息更新响应
          if (newMessage.command === 39) {
            console.log('---用户信息更新响应---')
            // console.log(JSON.stringify(newMessage.data))
            let index = this.groupUserIds.indexOf(newMessage.data.id)
            if (index !== -1) {
              this.$set(this.groupUserList, index, newMessage.data)
            } else {
              this.groupUserIds.push(newMessage.data.id)
              this.groupUserList.push(newMessage.data)
            }
            this.$store.commit('handleUserList', this.groupUserList)
          }
          //用户在线列表
          if (newMessage.command === 18) {
            console.log('------用户在线列表更新------')
            // console.log(JSON.stringify(newMessage))
            this.groupUserList = newMessage.data.groups[0].users
            this.groupUserIds = []
            newMessage.data.groups[0].users.forEach((item) => {
              this.groupUserIds.push(item.id)
            })
            this.$store.commit('handleUserList', this.groupUserList)
            // console.log('this.groupUserIds',this.groupUserIds)
            // console.log('this.groupUserList',JSON.stringify(this.groupUserList))
          }
        }
      },
      operNewmessage(newMsg) {
        switch (newMsg.data.msgType) {
          //文本
          case 0 :
            this.putNewmessage(newMsg)
            break
          //图片
          case 1:
            this.putNewmessage(newMsg)
            break
          //红包
          case 6:
            newMsg.data.content = newMsg.data.content.split('-')
            this.putNewmessage(newMsg)
            break
          //视频
          case 3:
            break
          //音乐
          case 4:
            break
          default:
            break
        }
      },
      putNewmessage(newMsg) {
        newMsg.type = newMsg.data.msgType
        newMsg.times = newMsg.data.createTime
        if (newMsg.data.extras.fromAvatar) {
          newMsg.userImg = newMsg.data.extras.fromAvatar
        } else {
          newMsg.userImg = require('@/assets/images/null.jpg')
        }
        // newMsg.name = newMsg.data.fromName
        newMsg.name = newMsg.data.extras.fromNick
        newMsg.msg = newMsg.data.content
        // console.log(newMsg)
        this.allMsgArr.push(newMsg)
      },
      //获取历史消息记录
      getHistoryMsg() {
        if (this.start > this.allMsgArr.length - 1) {
          return false
        }
        const historyPar = {
          cmd: 19,
          groupId: this.groupId,
          userId: this.userId,
          type: 1,
          start: this.start + 1,
          end: this.start += 50
        }
        // console.log(JSON.stringify(historyPar))
        this.ws.send(JSON.stringify(historyPar))
        // this.offset += 30
      },

      getAnnouncement() {
        getAnnounce('0').then((res) => {
          if (res.data.code === 0 && res.data.data !== null) {
            let index = 0;
            res.data.data.forEach((item) => {
              this.announcements[index] = item.content;
              index++;
            });
            if (this.announcements !== undefined && this.announcements.length > 0) {
              this.announcement = this.announcements[this.slideshowIndex];
            }
            this.slideshowIndex++;
            this.slideTimer = setInterval(this.setAnnounce, 50000); // 开始轮播
          }
        });
      },
      setAnnounce() {
        if (this.announcements !== undefined && this.announcements.length > 0) {
          this.announcement = this.announcements[this.slideshowIndex]
          this.slideshowIndex++
          if (this.slideshowIndex >= this.announcements.length) {
            this.slideshowIndex = 0
          }
        }
      },

      toggleBg(e) {
        const index = e.target.dataset.action
        this.homeBg.backgroundImage = "url(" + require(`@/assets/images/bg${index}.jpg`) + ")"
        sessionStorage.setItem('bg', JSON.stringify(this.homeBg.backgroundImage))
      },
      toggleLr(index) {
        this.currentIndex = index
        if (index === 0) {
          this.currentView = 'login'
        } else {
          this.currentView = 'register'
        }
      },

      showLogin() {
        this.currentIndex = 0
        this.currentView = 'login'
        this.$store.state.showLr = true
      },

      closeLr() {
        this.$store.state.showLr = false
      },

      logOut() {
        sessionStorage.removeItem('token')
        sessionStorage.removeItem('account')
        sessionStorage.removeItem('LoginFlag')
        window.location.reload()
        this.$store.commit('handleAccountName', '')
        this.$store.state.LoginFlag = true
        this.showUserInfo = false
      },

      logOut1() {
        sessionStorage.removeItem('token')
        sessionStorage.removeItem('account')
        sessionStorage.removeItem('LoginFlag')
        // window.location.reload()
        this.$store.commit('handleAccountName', '')
        this.$store.state.LoginFlag = true
        this.showUserInfo = false
      },

      clearScreen() {
        this.allMsgArr = []
      },

      showRegister() {
        this.currentIndex = 1
        this.$store.state.showLr = true
        this.currentView = 'register'
      },

      toggleAside() {
        this.showAside = !this.showAside
        this.showAside ? this.$refs.aside.style.transform = 'rotate(0deg)' : this.$refs.aside.style.transform = 'rotate(180deg)'
      },

      handleEmotion(i) {
        this.content += i
      },
      // 将匹配结果替换表情图片
      emotion(res) {
        let word = res.replace(/\#|\;/gi, '')
        const list = ['微笑', '撇嘴', '色', '发呆', '得意', '流泪', '害羞', '闭嘴', '睡', '大哭', '尴尬', '发怒', '调皮', '呲牙', '惊讶', '难过', '酷', '冷汗', '抓狂', '吐', '偷笑', '可爱', '白眼', '傲慢', '饥饿', '困', '惊恐', '流汗', '憨笑', '大兵', '奋斗', '咒骂', '疑问', '嘘', '晕', '折磨', '衰', '骷髅', '敲打', '再见', '擦汗', '抠鼻', '鼓掌', '糗大了', '坏笑', '左哼哼', '右哼哼', '哈欠', '鄙视', '委屈', '快哭了', '阴险', '亲亲', '吓', '可怜', '菜刀', '西瓜', '啤酒', '篮球', '乒乓', '咖啡', '饭', '猪头', '玫瑰', '凋谢', '示爱', '爱心', '心碎', '蛋糕', '闪电', '炸弹', '刀', '足球', '瓢虫', '便便', '月亮', '太阳', '礼物', '拥抱', '强', '弱', '握手', '胜利', '抱拳', '勾引', '拳头', '差劲', '爱你', 'NO', 'OK', '爱情', '飞吻', '跳跳', '发抖', '怄火', '转圈', '磕头', '回头', '跳绳', '挥手', '激动', '街舞', '献吻', '左太极', '右太极']
        let index = list.indexOf(word)
        return `<img src="https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/${index}.gif" style="vertical-align: middle">`
      },
      //发送消息
      sendMsg() {
        if (this.bannedInd === 1 && this.userGroupRole !== 2) { // 群禁言状态下非群主或管理员不能发送群消息
          this.showBanned()
          return false
        }
        const par = {
          cmd: this.userGroupRole === 2 ? 11 : 40,
          from: this.userId,
          msgType: 0,
          chatType: 1,
          group_id: this.groupId,
          content: this.content
        }
        if (this.content.length !== 0) {
          this.ws.send(JSON.stringify(par))
          this.content = ''
        }
      },

      //发送红包
      sendRedPacket() {
        const par = {
          userId: this.userId,
          type: 0,
          content: this.redmsg,
          totalNum: this.redcount,
          money: this.redmoney,
        }
        if (this.redmoney.length !== 0 && this.redcount > 0 && this.redmsg.length !== 0) {
          sendRedPacket(par).then((res) => {
            // console.log(res)
            if (res.data.code === 0) {
              this.redid = res.data.data
              this.redshow = false
              const params = {
                cmd: this.userGroupRole === 2 ? 11 : 40,
                msgType: 6,
                chatType: 1,
                group_id: this.groupId,
                content: `${this.redid}-${this.redmsg}`
              }
              this.ws.send(JSON.stringify(params))
            } else {
              window.alert(res.data.message)
            }
          })
        } else {
          window.alert('发送失败')
        }
      },

      //抢红包
      grabRedPacket(e) {
        this.thisredid = e.target.dataset.redid
        const par = {
          pid: e.target.dataset.redid,
          uid: this.userId,
        }
        if (this.userGroupRole !== 4) {
          grabRedPacket(par).then((res) => {
            // console.log(res)
            this.showRedPacketDetail(e.target.dataset.redid)
            switch (res.data.code) {
              case 0:
                this.redDetailshow = true
                this.redTotalAmount = res.data.data.sendMoney
                this.redSum = res.data.data.redPacketCount
                this.redSendPeople = res.data.data.sendPacketUser
                this.redSendPeoplePic = res.data.data.profilePicture
                this.grabMoney = res.data.data.money
                break
              case -1:
                this.redfailshow = true
                this.redTotalAmount = res.data.data.sendMoney
                this.redSum = res.data.data.redPacketCount
                this.redSendPeople = res.data.data.sendPacketUser
                this.redSendPeoplePic = res.data.data.profilePicture
                this.grabMoney = res.data.data.money
                break
              case -2:
                this.invalidRed = true
                break
              case -3:
                this.redTotalAmount = res.data.data.sendMoney
                this.redSum = res.data.data.redPacketCount
                this.redSendPeople = res.data.data.sendPacketUser
                this.redSendPeoplePic = res.data.data.profilePicture
                this.grabMoney = res.data.data.money
                this.alreadyGrab = true
                break
              default:
                break
            }
          })
        } else {
          window.alert('请登陆后尝试')
        }
      },
      //红包详情
      showRedPacketDetail(id) {
        showRedPacketDetail(id).then((res) => {
          // console.log(res)
          this.getRedUserList = res.data.data
          this.redLast = res.data.data.length
        })
      },
      lookOther() {
        this.redfailshow = false
        this.alreadyGrab = false
        this.invalidRed = false
        this.redDetailshow = true
      },

      handleResize(vertical) {
        this.$refs.vs.scrollTo({y: "100%"}, 100);
      },

      handleScroll() {
        if (this.$refs["vs"].getScrollProcess().v < 0.9) {
          this.ops.vuescroll.detectResize = false;
        } else {
          this.ops.vuescroll.detectResize = true;
        }

        if (this.$refs["vs"].getScrollProcess().v == 0) {
          this.getHistoryMsg();
        }
      },

      handleComplete() {
        this.ops.vuescroll.detectResize = true;
      },

      showUserOnline(id) {
        this.$notify({
          // title: '自定义位置',
          duration: 2000,
          message: `欢迎${id}上线`,
          position: 'bottom-left'
        });
      },
      showBanned() {
        this.$notify({
          // title: '自定义位置',
          duration: 3000,
          message: `当前群禁言状态`,
          position: 'bottom-left'
        });
      },

      //图片上传
      uploadAvatar(input) {
        let file = input.target.files[0]
        if (!file) {
          return
        }
        if (typeof FileReader === 'undefined') {
          window.alert('浏览器版本过低!')
          return
        } else if (!/image\/\w+/.test(file.type)) {
          window.alert('必须上传图片')
          return
        }
        if (file.size <= 500 * 1024) {
          this.upload(file)
          return
        }
        const reader = new FileReader()
        const _this = this
        reader.onload = function () {
          let result = this.result
          let img = new Image()
          img.src = result
          img.onload = function () {
            const file = _this.compress(img)
            const bytes = window.atob(file.split(',')[1])
            let array = []
            for (let i = 0; i < bytes.length; i++) {
              array.push(bytes.charCodeAt(i))
            }
            let blob = new Blob([new Uint8Array(array)], {
              type: 'image/jpeg'
            })
            _this.upload(blob)
          }
        }
        reader.readAsDataURL(file)
      },

      // 上传图片
      upload(file) {
        let loadingInstance = Loading.service({text: '图片上传中 ..'});
        let data = new FormData()
        data.append('file', file, "myImg.jpeg")
        uploadImg(data).then((res) => {
          if (res.status === 200) {
            document.getElementById('chat_file').value = ''
            const params = {
              cmd: this.userGroupRole === 2 ? 11 : 40,
              from: this.userId,
              msgType: 1,
              chatType: 1,
              group_id: this.groupId,
              content: res.data.msg
            }
            this.ws.send(JSON.stringify(params))
          }
          loadingInstance.close();
        })
      },

      // 压缩图片
      compress(img) {
        let canvas = document.createElement('canvas');
        let context = canvas.getContext('2d')
        // 图片原始尺寸
        let originWidth = img.width
        let originHeight = img.height
        // 最大尺寸限制，可通过设置宽高来实现图片压缩程度
        let maxWidth = 400,
          maxHeight = 400
        // 目标尺寸
        let targetWidth = originWidth,
          targetHeight = originHeight
        // 图片尺寸超过300x300的限制
        if (originWidth > maxWidth || originHeight > maxHeight) {
          if (originWidth / originHeight > maxWidth / maxHeight) {
            // 更宽，按照宽度限定尺寸
            targetWidth = maxWidth
            targetHeight = Math.round(maxWidth * (originHeight / originWidth))
          } else {
            targetHeight = maxHeight
            targetWidth = Math.round(maxHeight * (originWidth / originHeight))
          }
        }
        // canvas对图片进行缩放
        canvas.width = targetWidth
        canvas.height = targetHeight
        // 清除画布
        context.clearRect(0, 0, targetWidth, targetHeight)
        // 图片压缩
        context.drawImage(img, 0, 0, targetWidth, targetHeight)
        let newUrl = canvas.toDataURL('image/jpeg', 0.5) //base64 格式
        return newUrl
      },
      sendBanned() { // 管理员发送禁言指令/取消禁言指令
        const params = {
          cmd: 21,
          from: this.userId,
          group_id: this.groupId,
          bannedInd: this.bannedInd === 1 ? 0 : 1, // 1:禁言、0：取消禁言
        }
        this.ws.send(JSON.stringify(params))
      },
      bannedState() { // 成员请求当前群组是否禁言的状态
        // console.log('----成员请求当前群组是否禁言的状态----')
        const params = {
          cmd: 46,
          from: this.userId,
          group_id: this.groupId,
        }
        this.ws.send(JSON.stringify(params))
      },
      setBannedState() {
        if (this.bannedInd === 1) {
          this.bannedIcon = 'iconfont icon-icon--'
          this.bannedHint = '关闭禁言'
        } else {
          this.bannedIcon = 'iconfont icon-yuyin'
          this.bannedHint = '开启禁言'
        }
      },
      // shortcut.add('ctrl+enter',()=>{
      //   this.sendText += '\r\n';
      // },{
      //   type:'keydown',
      //   propagate:false,
      //   target:this.msgInputObj
      // }),
      toggleEmotion() {
        this.showEmotion = false
      },
      redclose() {
        this.redshow = false
      },
      closeredDetail() {
        this.redDetailshow = false
      },
      closeredFail() {
        this.redfailshow = false
      },
      closealreadyGrab() {
        this.alreadyGrab = false
      },
      closeinvalidRed() {
        this.invalidRed = false
      },
      ws_send(params) {
        // console.log('-----ws_send-----')
        this.ws.send(params)
      },
      //微信截图上传图片时触发
      handlePaste(e) {
        let file = null
        if (e.clipboardData && e.clipboardData.items[0] && e.clipboardData.items[0].type && e.clipboardData.items[0].type.indexOf('image') > -1) { //这里就是判断是否有粘贴进来的文件且文件为图片格式
          file = e.clipboardData.items[0].getAsFile();
        } else {
          this.$message({
            type: 'warning',
            message: '上传的文件必须为图片且无法复制本地图片且无法同时复制多张图片'
          })
          return;
        }
        this.upload(file)
      },

    },
    mounted() {
      var that = this;
      Event.$on('ws_send', function (params) {
        that.ws_send(params)
      })
    },
    created() {
      this.ws = new WebSocket(this.getWsUrl());
      this.ws.onopen = () => {
        // console.log('open')
        // this.heartCheck.start()
        this.dealMsg()
        // this.getHistoryMsg()
      }

      this.ws.onclose = () => {
        this.logOut1()
        // this.ws = new WebSocket(this.getWsUrl());
        console.log('close')
      }

      this.ws.onerror = () => {
        this.logOut1()
        console.log('error')
      }

      // window.addEventListener('beforeunload', e => {
      //   this.ws.close()
      // });

      const bg = JSON.parse(sessionStorage.getItem('bg')) || "url(" + require('@/assets/images/bg3.jpg') + ")"
      this.homeBg.backgroundImage = bg
      this.globalClick(this.toggleEmotion)
      // this.slideTimer = setInterval(this.getAnnouncement, 50000); // 开始轮播 setAnnounce
      this.getAnnouncement() //  获取公告内容并开始轮播
    },
    computed: {
      ...mapState({
        userInfo: state => state.userInfo
      }),
      userInfo: {
        get() {
          return this.$store.state.userInfo
        },
        set(val) {
          this.$store.state.userInfo = val
        }
      }
    },
    watch: {
      userId: 'getHistoryMsg',
      bannedInd: 'setBannedState',
      userInfo() {
        this.nick = this.$store.getters.userInfo.name
        console.log('----watch--userInfo:', this.nick)
      }
      // immediate: true
    },
    directives: {
      'paste': {
        bind(el, binding, vnode) {
          el.addEventListener('paste', function (event) { //这里直接监听元素的粘贴事件
            binding.value(event)
          })
        }
      } //复制粘贴指令
    },
    filters: {
      //格式化时间
      format(dateStr, pattern = '') {
        let dt = new Date(dateStr)
        //   yyyy-mm-dd
        let y = dt.getFullYear()
        let m = dt.getMonth() + 1 >= 10 ? dt.getMonth() + 1 : `0${dt.getMonth() + 1}`
        let d = dt.getDate() >= 10 ? dt.getDate() : `0${dt.getDate()}`
        if (pattern.toLowerCase() == 'yyyy-mm-dd') {
          return `${y}-${m}-${d}`
        } else {
          let hh = dt.getHours() >= 10 ? dt.getHours() : `0${dt.getHours()}`
          let mm = dt.getMinutes() >= 10 ? dt.getMinutes() : `0${dt.getMinutes()}`
          let ss = dt.getSeconds() >= 10 ? dt.getSeconds() : `0${dt.getSeconds()}`
          return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
        }
      }
    }
  }

</script>

<style scoped lang="less">
  .home {
    width: 100%;
    height: 100%;
    border-right: none;
    background-size: 100%;

    .el-header {
      display: flex;
      justify-content: space-between;
      background-color: rgba(50, 50, 50, 0.5);

      .header-left {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: space-between;
        color: #fff;

        .logo-bg {
          width: 170px;
          height: 60px;
          background: url("../assets/images/logo.png") no-repeat 0 50%;
          background-size: contain;
        }

        .save-pc {
          font-weight: 900;
          color: #FF0;

          .icon-pc {
            font-size: 21px;
          }
        }

        .save-mobile {
          position: relative;
          font-weight: 900;
          /*margin-left: 20px;*/
          margin-top: 5px;

          .icon-shouji {
            font-size: 21px;
          }

          .watch-app {
            position: absolute;
            z-index: 99;
            top: 157%;
            color: #fff;
            font-size: 14px;
            left: 50%;
            transform: translateX(-50%);
            width: 166px;
            height: 210px;
            background-color: #eb6200;

            img {
              margin-top: 6px;
            }

            &:before {
              content: '';
              width: 0;
              height: 0;
              border-right: 10px solid transparent;
              border-bottom: 10px solid #eb6200;
              border-left: 10px solid transparent;
              position: absolute;
              left: 44%;
              top: -5%;
            }
          }
        }

        .search-button, .download {
          margin-top: 7px;
          /*margin-left: 15px;*/
        }

        .tit {
          position: absolute;
          left: 21%;
          top: 6.5%;
          z-index: 99;
          width: 138px;
          background: rgba(50, 50, 50, .7);
          margin-left: -17px;
          text-align: center;
          margin-top: -10px;
          font-size: 13px;

          a {
            display: inline-block;
            width: 118px;
            height: 22px;
            color: #1b485d;
            padding-left: 4px;
            line-height: 25px;
            margin: 6px auto;
            background: url("../assets/images/nuoyun_kf.png") no-repeat;
            background-size: cover;
          }
        }

        .el-button--small, .el-button--small.is-round {
          padding: 7px 12px 5px 10px;
          font-size: 14px;

          .icon-qq, .icon-download {
            vertical-align: text-top;
            padding-right: 5px;
            font-size: 18px;
          }
        }
      }

      .header-middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 10%;

        .Sking {
          cursor: pointer;
          color: #fff;
        }
      }

      .header-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 17%;

        .Sking {
          cursor: pointer;
          color: #fff;
        }

        .icon-huanfu {
          font-size: 19px;
        }

        .userInfo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 90px;
          height: 120px;
          position: absolute;
          background-color: #fff;
          font-size: 14px;
          z-index: 99999;
          border-radius: 6px;
          padding: 8px 0;

          img {
            width: 35px;
            height: 35px;
            margin-right: 5px;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
      }
    }

    .el-aside {
      height: 100%;
      overflow-y: visible;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: flex-start;
      background-color: rgba(0, 0, 0, .3);

      .el-input {
        padding: 0 7px;
        margin: 7px 0;
      }

      a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-size: 14px;
      }

      .online-user {
        width: 50%;
      }

      .customer {
        width: 50%;
      }
    }

    .el-main {
      padding: 0 0 0 5px;
      overflow: unset;
      position: relative;

      .toggleAside {
        position: absolute;
        top: 45%;
        left: -0.2%;

        i {
          color: #fff;
          font-size: 20px;
        }
      }

      .main-header {
        position: relative;
        width: 100%;
        height: 30px;
        padding: 0 7px;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
        background-color: rgba(0, 0, 0, .5);

        span {
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
        }

        img {
          margin-left: 7px;
        }

        .move-tips {
          position: relative;
          color: #FF0;
          font-size: 14px;
          padding-left: 20px;
          width: 96%;
          text-align: left;
        }
      }
    }

    .msgcontent {
      height: 79.5%;
      padding: 10px 0 0 20px;
      overflow-y: scroll;
      background-color: rgba(50, 50, 50, 0.5);

      .icon {
        position: absolute;
        top: 7%;
        z-index: 9999;

        i {
          font-size: 30px;
          color: #D83624;
        }

        p {
          color: #fff;
          margin-top: 7px;
          font-size: 14px;
        }
      }

      .qingkong {
        right: 2%;
      }

      .rili {
        right: 2%;
      }

      .msgbox {
        position: relative;
        margin: 20px 10px;
        width: 400px;


        .userImg {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          vertical-align: text-top;
        }

        .user-text {
          display: inline-block;
          color: #fff;
          padding-left: 5px;
          font-size: 14px;
        }

        .bubble {
          &:before {
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            top: 0;
            left: -8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #fff;
          }
        }

        .layim_chatsay {
          position: relative;
          left: 14%;
          top: -17px;
          word-wrap: break-word;
          word-break: break-all;
          padding: 6px 11px;
          background-color: #ffffff;
          border-radius: 3px;
          font-size: 14px;
          width: fit-content;
          min-width: 20px;
          display: flex;
          text-align: left;
        }

        .layim_chatsay1 {
          position: relative;
          /*left: 20%;*/
          /*top: -17px;*/
          word-wrap: break-word;
          word-break: break-all;
          padding: 5px 11px;
          background-color: #ffffff;
          border-radius: 3px;
          font-size: 14px;
          width: fit-content;
          min-width: 20px;
          /*display: flex;*/
          text-align: center;
        }

        .userInfo-img {
          position: relative;
          left: 14.8%;
          top: 55%;
          padding: 10px;
          margin-top: -10px;
          width: fit-content;
          background-color: #fff;
          border-radius: 4px;

          img {
            display: flex;
            max-width: 180px;
            height: auto;
          }
        }

        .redpacket {
          position: relative;
          left: 13%;
          top: -16px;
          padding: 10px;
          background-color: #fff;
          width: 300px;
          height: 170px;
          border-radius: 3px;

          .redpacketbox {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: space-around;
            background-color: #fa9d3b;
            border-radius: 4px;

            img {
              flex: 2;
              vertical-align: middle;
            }

            span {
              flex: 1;
              color: #f30;
              font-size: 14px;
              font-weight: 900;
              text-overflow: ellipsis;
            }
          }
        }

      }
    }

    .tips {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 9.4%;
      padding-top: 5px;
      color: #fff;
      background-color: rgba(0, 0, 0, .3);

      > div {
        display: flex;
      }

      a {
        display: block;
        width: auto;
        height: 22px;
        line-height: 22px;
        margin: 0 6px;
        background: #fff;
        color: #0e79f6;
        transition: 0.3s;
        border-radius: 2px;
        border: 1px solid #127dec;
        font-size: 13px;
        padding-left: 12px;
        cursor: pointer;
        animation: flash .5s infinite;

        i {
          background-color: #127dec;
          color: #fff;
          margin-left: -12px;
          width: 26px;
          height: 100%;
          display: inline-block;
        }

        span {
          padding: 0 9px 0 5px;
          vertical-align: top;
        }
      }

      .tar {
        i {
          font-size: 26px;
          margin: 10px 15px 0;
        }

        span {
          margin-top: 14px;
          font-size: 14px;

          em {
            display: inline-block;
            height: 22px;
            background-color: #F58088;
            line-height: 22px;
            padding: 0 10px;
            color: #FFF;
            border-radius: 3px;
            margin: 0 5px;
          }
        }

        .sum_i {
          position: relative;
        }

        #chat_file {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }

    .msg {
      display: flex;
      height: 7.5%;

      textarea {
        width: 100%;
        height: 100%;
        padding-left: 3px;
        padding-top: 7px;
        padding-right: 3px;
        border: none;
        resize: none;
        outline: none;
        color: #fff;
        margin-right: 7px;
        background-color: rgba(0, 0, 0, .5);
      }

      .textarea {
        width: 100%;
        height: 100%;
        padding-left: 3px;
        padding-top: 7px;
        padding-right: 3px;
        border: none;
        resize: none;
        outline: none;
        color: #fff;
        margin-right: 7px;
        background-color: rgba(0, 0, 0, .5);
        text-align: left;
      }

      .send {
        width: 100px;
        margin-right: 7px;
        background-image: url("../assets/images/sent.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    .skin {
      position: fixed;
      left: 36%;
      top: 23%;
      z-index: 99;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 546px;
      height: 234px;
      background-color: #fff;
      box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
      border-radius: 2px;

      img {
        width: 100px;
        height: 50px;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 42px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        color: #333;
        background-color: #F8F8F8;
        border-radius: 2px 2px 0 0;
        width: 100%;

        .el-icon-close {
          cursor: pointer;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }


    .lr {
      position: absolute;
      top: 13%;
      left: 43%;
      width: 370px;
      border-radius: 6px;
      background-color: #fff;

      .lr-title {
        position: relative;
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        font-family: "Microsoft Yahei", serif;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: url("../assets/images/login_bg.png") no-repeat 0 -5px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background-size: 100%;

        .lr-close {
          position: absolute;
          right: -2.5%;
          top: -36%;
          font-size: 30px;
        }

        .tab-button {
          cursor: pointer;
          padding: 0 20px;
          height: 100%;
        }
      }

      .lr-footer {
        width: 100%;
        height: 70px;
        background: url("../assets/images/login_bg.png") no-repeat 0 -70px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        background-size: 100%;
      }
    }

    .Pop-ups {
      width: 600px;
      height: 468px;
      position: fixed;
      top: 15%;
      left: 36%;
      z-index: 1002;
      background: url('../assets/images/malert.png') no-repeat;
      background-size: contain;

      .pop-close {
        position: absolute;
        right: 0;
        top: 4%;

        i {
          font-size: 29px;
          color: #eee;
        }
      }

      #alertmsg {
        width: 335px;
        text-indent: 2em;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        padding-top: 8px;
        position: absolute;
        bottom: 70px;
        left: 132px;
      }

      .bts {
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 17px;
        display: flex;
        justify-content: space-evenly;

        .btn-register {
          background-color: #FFED00;
          border-color: #FFED00;
          color: red;
        }
      }
    }

    .container {
      width: 400px;
      position: absolute;
      top: 64%;
      // left: 1%;
    }
  }

  .Manager {
    position: absolute;
    right: 7%;
    top: 23%;
    color: #fff;
    border: 1px solid #ccc;
    padding: 0 11px;
    height: 500px;
    overflow-y: auto;

    .Managermsgbox {
      margin: 11px 0;

      img {
        max-width: 150px;
        max-height: 150px;
      }
    }
  }

  .review {
    background-color: #ccc;
    width: 107px;
    height: 55px;
    line-height: 1.9;
    font-size: 14px;
    border-radius: 5px;
  }

  .redbox {
    width: 300px;
    height: 250px;
    border-radius: 4px;
    background-color: #fff;
    position: fixed;
    left: 45%;
    top: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    span {
      font-size: 14px;
      margin-right: 10px;
    }

    .red-close {
      position: absolute;
      right: -4px;
      top: -8px;
      font-size: 24px;
    }
  }

  .redDetail {
    position: fixed;
    left: 45%;
    top: 16%;
    height: 485px;
    width: 347px;
    border-radius: 8px;
    text-align: center;
    background: url("../assets/images/successredbag.png") no-repeat;
    background-size: cover;


    .baginformation {
      margin-top: 25px;
      height: 25px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: #000;
      background-color: #F0F0F0;
    }

    img {
      width: 60px;
      height: 60px;
      margin-top: 50px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
      border-radius: 50%;
    }

    em {
      display: block;
      margin: 13px 0;
    }

    span {
      display: block;
      font-size: 18px;
      font-weight: 600;
      color: #fc4c4c;
    }

    ul {
      height: 250px;
      background-color: #fff;
      overflow-y: auto;
      border-radius: 4px;

      li {
        width: 100%;
        height: 70px;
        padding: 0 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftinfo {
          display: flex;
          align-items: center;

          > div {
            display: flex;
            text-align: left;
            padding-left: 9px;
            flex-direction: column;
          }
        }

        .userredimg {
          width: 40px;
          height: 40px;
          margin-top: 0;
        }
      }
    }
  }

  .failred {
    position: fixed;
    left: 47%;
    top: 20%;
    width: 314px;
    height: 414px;
    background: url("../assets/images/meetredbag.png") no-repeat;
    background-size: cover;

    img {
      width: 60px;
      height: 60px;
      margin-top: 50px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
      border-radius: 50%;
    }

    p {
      color: #fff;
      margin: 20px 0;
    }

    span {
      display: inline-block;
      cursor: pointer;
      margin-top: 171px;
      font-size: 14px;
      color: #fa9d3b;
    }
  }

  .redDetailClose {
    position: absolute;
    right: -4px;
    top: -6px;
    color: #fff;
    font-size: 24px;
  }

  [v-cloak] {
    display: none;
  }

  .cor {
    color: #12a912;
  }
</style>
