<template>
  <div class="login reset">
    <el-input placeholder="请输入用户名" v-model.trim="account" clearable>
      <i slot="prefix" class="iconfont icon-yonghu"></i>
    </el-input>
    <el-input placeholder="请输入密码" @keydown.native.enter="userLogin" v-model.trim="passWord" show-password>
      <i slot="prefix" class="iconfont icon-mima"></i>
    </el-input>
    <div class="tip-text">
      <div>
        <input type="checkbox" value="chose" v-model="chose">
        <span>15天内自动登录</span>
      </div>
      <span>忘记密码?</span>
    </div>
    <div>{{ltips}}</div>
    <el-button type="primary" class="login-now" @click="userLogin">立即登录</el-button>
  </div>
</template>

<script>
  import {fetch_login} from "../api";

  export default {
    name: "login",
    // inject:['app'],
    data() {
      return {
        account: '',
        passWord: '',
        chose: true,
        ltips: '',
        login_param: {},
      }
    },
    methods: {
      userLogin() {
        const params = this.login_param = {
          account: this.account,
          passWord: this.passWord
        }
        this.doLogin(params)
      },
      doLogin(param) {
        fetch_login(param).then((res) => {
          if (res.data.code === 0) {
            const token = res.data.data.token
            let userImg = ''
            if (res.data.data.user.profilePicture && res.data.data.user.profilePicture !== null) {
              userImg = res.data.data.user.profilePicture
            } else {
              userImg = require('@/assets/images/null.jpg')
            }
            sessionStorage.setItem('token', token)
            sessionStorage.setItem('LoginFlag', this.$store.state.LoginFlag)
            this.$store.state.LoginFlag = false
            this.$store.state.showLr = false
            this.$store.commit('handleAccountName', this.account)
            this.$store.commit('handleNickName', res.data.data.user.name)
            this.$store.commit('handleUserImg', userImg)
            // this.$store.commit('handleUserType', res.data.data.user.userType)
            // this.app.reload();
            window.location.reload()
          } else {
            this.ltips = res.data.message
          }
        })
      }
    },
    mounted() {
      var that = this;
      Event.$on('relogin', function () {
        console.log('.......relogin........')
        that.doLogin(this.login_param)
      })
    },

  }
</script>

<style scoped lang="less">
  .login {
    .icon-yonghu {
      font-weight: 900;
    }

    .icon-yonghu, .icon-mima {
      line-height: 40px;
      font-size: 20px;
      color: #000;
    }

    .tip-text {
      display: flex;
      justify-content: space-around;
      color: #2795dc;
      font-size: 14px;
      cursor: pointer;
    }

    .login-now {
      margin-bottom: 0 !important;
      margin-top: 23px;
    }
  }
</style>
