<template>
  <div class="user-editor">
    <ul>
      <li>
        <span>用户性别:</span>
        <select id="sex" style="margin-left: 15px" v-model="userInfos.sex">
          <option name="sex" value="0">保密</option>
          <option name="sex" value="1">男</option>
          <option name="sex" value="2">女</option>
        </select>
      </li>
      <li>
        <span>用户昵称:</span>
        <input type="text" v-model="userInfos.name">
      </li>
      <li>
        <span>用户年龄:</span>
        <input type="text" v-model="userInfos.age">
      </li>
      <li>
        <span>用户手机:</span>
        <input type="text" v-model="userInfos.phone">
      </li>
      <li style="position: relative">
        <span>用户头像:</span>
        <!--        <el-avatar icon="el-icon-user-solid" style="vertical-align: middle;margin-left: 15px"></el-avatar>-->
        <el-avatar v-if="isEmpty(userInfos.profilePicture)" :size="60" style="vertical-align: middle;margin-left: 15px"
                   fit="fill">
          <img src="../assets/images/null.jpg" alt="" ref="userIcon">
        </el-avatar>
        <el-avatar v-else :size="60" style="vertical-align: middle;margin-left: 15px" fit="fill">
          <img :src="userInfos.profilePicture" ref="userIcon">
        </el-avatar>
        <input type="file" multiple accept="image/*" id="chat_file2" @change="uploadAvatar">
      </li>
    </ul>
    <!--    <div class="user_pic">-->
    <!--      <img src="../assets/images/null.gif" alt="">-->
    <!--    </div>-->
    <el-button type="success" style="margin: 15px 0" @click="save">保存</el-button>
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import {user_setting, uploadImg} from "../api";
  import {Loading} from 'element-ui';
  import {mix} from '../mixins';

  export default {
    name: "usereditor",
    mixins: [mix],
    data() {
      return {
        userInfos: {
          sex: '',
          name: '',
          age: '',
          phone: '',
          profilePicture: ''
        },
      }
    },
    mounted() {
      this.userInfos = this.$store.getters.userInfo
    },
    methods: {
      //图片上传
      uploadAvatar(input) {
        // console.log('开始上传')
        let file = input.target.files[0]
        if (!file) {
          return
        }
        if (typeof FileReader === 'undefined') {
          window.alert('浏览器版本过低!')
          return
        } else if (!/image\/\w+/.test(file.type)) {
          window.alert('必须上传图片')
          return
        }
        if (file.size <= 500 * 1024) {
          const reader1 = new FileReader()
          const _this = this
          reader1.onload = function () {
            const result = this.result
            _this.$refs.userIcon.src = result
            // _this.$store.commit('handleUserImg', result)
          }
          reader1.readAsDataURL(file)
          this.upload(file)
        } else {
          const reader = new FileReader()
          const _this = this
          reader.onload = function () {
            let result = this.result
            let img = new Image()
            img.src = result
            _this.$refs.userIcon.src = result
            // _this.$store.commit('handleUserImg', result)
            img.onload = function () {
              const file = _this.compress(img)
              const bytes = window.atob(file.split(',')[1])
              let array = []
              for (let i = 0; i < bytes.length; i++) {
                array.push(bytes.charCodeAt(i))
              }
              // console.log(array)
              let blob = new Blob([new Uint8Array(array)], {
                type: 'image/jpeg'
              })
              _this.upload(blob)
            }
          }
          reader.readAsDataURL(file)
        }
      },

      // 上传图片
      upload(file) {
        let loadingInstance = Loading.service({text: '图片上传中 ..'});
        let data = new FormData()
        data.append('file', file, "myImg.jpeg")
        uploadImg(data).then((res) => {
          if (res.status === 200) {
            document.getElementById('chat_file2').value = ''
            this.userInfos.profilePicture = res.data.msg
          }
          loadingInstance.close();
        })
      },

      // 压缩图片
      compress(img) {
        let canvas = document.createElement('canvas');
        let context = canvas.getContext('2d')
        // 图片原始尺寸
        let originWidth = img.width
        let originHeight = img.height
        // 最大尺寸限制，可通过设置宽高来实现图片压缩程度
        let maxWidth = 400,
          maxHeight = 400
        // 目标尺寸
        let targetWidth = originWidth,
          targetHeight = originHeight
        // 图片尺寸超过300x300的限制
        if (originWidth > maxWidth || originHeight > maxHeight) {
          if (originWidth / originHeight > maxWidth / maxHeight) {
            // 更宽，按照宽度限定尺寸
            targetWidth = maxWidth
            targetHeight = Math.round(maxWidth * (originHeight / originWidth))
          } else {
            targetHeight = maxHeight
            targetWidth = Math.round(maxHeight * (originWidth / originHeight))
          }
        }
        // canvas对图片进行缩放
        canvas.width = targetWidth
        canvas.height = targetHeight
        // 清除画布
        context.clearRect(0, 0, targetWidth, targetHeight)
        // 图片压缩
        context.drawImage(img, 0, 0, targetWidth, targetHeight)
        let newUrl = canvas.toDataURL('image/jpeg', 0.5) //base64 格式
        return newUrl
      },
      save() {
        user_setting(JSON.stringify(this.userInfos)).then((res) => {
          if (res.data.code == 0) {
            this.$store.commit('handleNickName', this.userInfos.name)
            this.$store.commit('handleUserInfo', this.userInfos)
            this.$store.commit('handleUserImg', this.userInfos.profilePicture)
            this.showSuccessTips()
            this.ws.send(JSON.stringify({cmd: 38, cmdType: 1}))
            Event.$emit('relogin')
            // this.$router.push({path: '/home'})
          } else {
            this.showDefeatedTips(res.data.message)
          }
        })
      },
      showSuccessTips() {
        this.$notify({
          title: '成功',
          duration: 2000,
          message: `修改成功`,
          type: 'success'
        });
      },
      showDefeatedTips(t) {
        this.$notify({
          title: '失败',
          duration: 2000,
          message: `修改失败${t}`,
          type: 'error'
        });
      },
      isEmpty(str) {
        return str === null || str === ''
      },
    },
    created() {
      // this.ws = new WebSocket(this.getWsUrl());
    },
    computed: {
      ...mapState({
        userInfo: state => state.userInfo
      }),
      userInfo: {
        get() {
          return this.$store.state.userInfo
        },
        set(val) {
          this.$store.state.userInfo = val
        }
      }
    },
    watch: {
      userInfo() {
        // console.log('-------usereditor--watch--------')
        this.userInfos = this.$store.getters.userInfo
      }
    }

  }
</script>

<style scoped lang="less">
  .user-editor {
    font-size: 14px;
    background-color: #fff;
    width: 460px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    ul {
      padding: 13px;
      display: flex;
      text-align: left;
      flex-direction: column;

      li {
        width: 100%;
        height: 35px;
        line-height: 35px;

        input {
          width: 80%;
          outline: none;
          border: none;
          border-bottom: 1px solid #000;
          margin-left: 15px;
        }
      }
    }

    /*.user_pic {*/
    /*  width: 120px;*/
    /*  height: 150px;*/
    /*  position: absolute;*/
    /*  top: 206px;*/
    /*  right: 0px;*/
    /*  border: 5px solid #FFF;*/

    /*  img {*/
    /*    width: 110px;*/
    /*    height: 150px;*/
    /*    border: 1px #CCCCCC solid;*/
    /*    padding: 1px;*/
    /*  }*/
    /*}*/

    #chat_file2 {
      opacity: 0;
      position: absolute;
      width: 14%;
      height: 100%;
      left: 55px;
      top: 0;
    }
  }
</style>
