<template>
  <div class="user-setting">
    <i class="iconfont icon-htmal5icon19 lr-close" @click="$emit('update:status',false)"></i>
    <div class="set-header">
      <div class="user-img">
        <el-avatar :size="60">
          <img :src="this.$store.getters.userImg" ref="userIcon">
        </el-avatar>
      </div>
      <div class="user-info">
        <span class="user-name">{{this.$store.getters.nick}}</span>
        <img src="../assets/images/level_1.png" alt="">
      </div>
    </div>
    <div class="user-options">
      <div v-for="(item,index) in userList" :key="item" :class="{active:currentIndex==index}"
           @click="toggleOption(index)">{{item}}
      </div>
    </div>
    <keep-alive>
      <component :is="current"></component>
    </keep-alive>
  </div>
</template>

<script>
  import userDate from './userdata.vue'
  import userEditor from './usereditor.vue'
  import changPaw from './changepaw.vue'

  export default {
    name: "usersetting",
    data() {
      return {
        userList: ['用户资料', '编辑资料', '修改密码'],
        currentIndex: 0,
        current: userDate
      }
    },
    props: ['status','userName'],
    components: {
      userDate,
      userEditor,
      changPaw
    },
    methods: {
      toggleOption(index) {
        this.currentIndex = index
        const arr = [userDate, userEditor, changPaw]
        this.current = arr[index]
      }
    }
  }
</script>

<style scoped lang="less">
  .user-setting {
    width: 460px;
    height: 200px;
    background: url("../assets/images/profile_bg4.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    left: 43%;
    top: 12%;
    z-index: 1000;

    .lr-close {
      position: absolute;
      right: -2%;
      top: -5%;
      color: #fff;
      font-size: 30px;
    }

    .set-header {
      height: 82.5%;
      width: 100%;

      .user-img {
        height: 70px;
        text-align: center;
        span{
          margin-top: 15px;
          img {
            width: 100%;
          }
        }
      }

      .user-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        span {
          font-weight: 700;
          margin-right: 20px;
        }
      }
    }

    .user-options {
      display: flex;
      height: 25px;
      align-items: center;
      justify-content: flex-start;
      background: rgba(0, 0, 0, 0.3);

      > div {
        cursor: pointer;
        font-size: 14px;
        color: #fff;
        padding: 0 10px;
      }
    }

    .active {
      color: #ff2d55 !important;
      border-bottom: 2px solid #ff2d55;
    }
  }
</style>
