<template>
  <div class="user">
    <el-input
      placeholder="请输入内容"
      prefix-icon="el-icon-search"
      v-model="userInfo">
    </el-input>

    <vue-scroll :ops="option">
      <ul>
        <li v-for="item in search(userInfo)" @click="createTips($event,item)">
          <img :src="item.avatar ? item.avatar : userAvatar" alt="">
          <span>{{item.nick}}</span>
        </li>
      </ul>
    </vue-scroll>
    <div v-show="showUserTips" ref="myTips" class="myTips">
      <p @click="upLever">提升管理员</p>
      <p @click="downLever">撤销管理员</p>
    </div>
  </div>
</template>

<script>
  import {Promotion} from "../api";

  export default {
    name: "user",
    data() {
      return {
        userInfo: '',
        showUserTips: false,
        targetId: '',
        userAvatar: require('@/assets/images/null.jpg'),
        option: {
          bar: {
            background: '#fff',
            minSize: 0,
            opacity: .3,
            size: '4px',
          },
          vuescroll: {
            detectResize: false,
            mode: 'native',
            sizeStrategy: 'percent'
          }
        }
      }
    },
    computed: {
      getUserList() {
        return this.$store.getters.userList
      }
    },
    methods: {
      // 获取ws地址
      // getWsUrl() {
      //   const token = sessionStorage.getItem('token') || ''
      //   const url = `ws://23.225.140.154:8888?token=${token}`
      //   return url
      // },
      createTips(e, user) {
        console.log(user)
        if (!this.$store.state.isManager) {
          return false
        }
        this.targetId = user.id
        this.showUserTips = true
        this.$refs.myTips.style.position = 'absolute'
        this.$refs.myTips.style.left = (e.clientX - 55) + 'px'
        this.$refs.myTips.style.top = (e.clientY - 70) + 'px'
      },

      upLever() {
        console.log('upLever')
        this.updateMemberIdentity(2)
      },
      downLever() {
        console.log('downLever')
        this.updateMemberIdentity(3)
      },
      updateMemberIdentity(identity) {
        const par = {
          groupId: this.$store.state.groupId,
          identity: identity,
          memberId: this.targetId
        }
        Promotion(JSON.stringify(par)).then((res) => {
          if (res.data.code == 0) {
            this.showSuccessTips()
            const param = {
              "cmd": 38,
              "cmdType": 2,
              "extras": {"groupId": par.groupId},
              "memberId": par.memberId,
              "identity": par.identity
            }
            // console.log('param:' + JSON.stringify(param))
            //  this.ws.send(JSON.stringify(param))
            Event.$emit('ws_send', JSON.stringify(param))
          } else {
            this.showDefeatedTips(res.data.message)
          }
        })
        this.showUserTips = false
      },
      showSuccessTips() {
        this.$notify({
          title: '成功',
          duration: 2000,
          message: `修改成功`,
          type: 'success'
        });
      },
      showDefeatedTips(t) {
        this.$notify({
          title: '失败',
          duration: 2000,
          message: `修改失败${t}`,
          type: 'error'
        });
      },
      search(keywords) {
        return this.getUserList.filter(item => {
          if (item.nick.includes(keywords)) {
            return true
          }
        })
      },
    },
  }
</script>

<style scoped lang="less">
  .user {
    width: 100%;
    margin-top: 10px;

    li {
      display: flex;
      justify-content: start;
      align-items: center;
      color: #fff;
      padding: 7px 0 7px 14px;

      &:first-child {
        margin-top: 7px;
      }

      img {
        vertical-align: middle;
        height: 22px;
        width: 22px;
        border-radius: 5px;
      }

      span {
        padding-left: 7px;
      }
    }

    .myTips {
      background-color: #ccc;
      width: 107px;
      height: 55px;
      line-height: 1.9;
      font-size: 14px;
      border-radius: 5px;
    }
  }
</style>
