<template>
  <div class="user-data">
    <ul>
      <li>
        <span>用户性别:</span>
        <span v-if="userInfos.sex==0">保密</span>
        <span v-else-if="userInfos.sex==1">男</span>
        <span v-else-if="userInfos.sex==2">女</span>
      </li>
      <li>
        <span>昵称:</span>
        <span>{{userInfos.name}}</span>
      </li>
      <li>
        <span>年龄:</span>
        <span>{{userInfos.age}}</span>
      </li>
      <li>
        <span>手机:</span>
        <span>{{userInfos.phone}}</span>
      </li>
      <li>
        <span>金币:</span>
        <span>{{userInfos.goldCoin}}</span>
      </li>
      <!--      <li>-->
      <!--        <span>登录次数:</span>-->
      <!--        <span>登录3次</span>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <span>注册时间:</span>-->
      <!--        <span>2019-08-27 10:29:55 </span>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <span>用户组:</span>-->
      <!--        <span>会员-注册用户</span>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <span>登录IP:</span>-->
      <!--        <span>222.127.21.205</span>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <span>邮箱:</span>-->
      <!--        <span></span>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <span>QQ:</span>-->
      <!--        <span></span>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <span>用户关联:</span>-->
      <!--        <span>用户客服：   推广人： system</span>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <span>备注:</span>-->
      <!--        <span></span>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <span>我的积分:</span>-->
      <!--        <span>45</span>-->
      <!--        <span>积分规则</span>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <span>红包余额:</span>-->
      <!--        <span>0.00元</span>-->
      <!--        <span>提现</span>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <span>我的推广链接:</span>-->
      <!--        <span> http://87777.biz/?rid=29583882&t=4424</span>-->
      <!--        <span>已推广(111)人</span>-->
      <!--      </li>-->
    </ul>
    <!--    <div class="user_pic">-->
    <!--      <img src="../assets/images/null.gif" alt="">-->
    <!--    </div>-->
  </div>
</template>

<script>

  import {mapState} from "vuex";
  import {user_data} from "../api";

  export default {
    name: "userdata",
    data() {
      return {
        userInfos: {}
      }
    },
    mounted() {
      user_data().then((res) => {
        console.log(res)
        this.userInfos = res.data.data
        this.$store.commit('handleUserInfo', this.userInfos)
      })
    },
    computed: {
      ...mapState({
        userInfo: state => state.userInfo
      }),
      userInfo: {
        get() {
          return this.$store.state.userInfo
        },
        set(val) {
          this.$store.state.userInfo = val
        }
      }
    },
    watch: {
      userInfo() {
        // console.log('-------userdata--watch--------')
        this.userInfos = this.$store.getters.userInfo
      }
    }
  }
</script>

<style scoped lang="less">
  .user-data {
    font-size: 14px;
    background-color: #fff;
    width: 460px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    ul {
      padding: 13px 13px 0;
      display: flex;
      text-align: left;
      flex-direction: column;

      li {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #eee;
      }
    }

    .user_pic {
      width: 120px;
      height: 150px;
      position: absolute;
      top: 206px;
      right: 0px;
      border: 5px solid #FFF;

      img {
        width: 110px;
        height: 150px;
        border: 1px #CCCCCC solid;
        padding: 1px;
      }
    }
  }
</style>
