<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  import Vue from 'vue'

  Event = new Vue()

  export default {
    name: 'App',
    provide() {
      return {
        app: this,
      }
    },
    data() {
      return {
        isRouterAlive: true,
        // ws:null
      }
    },
    methods: {

      // getWsUrl() {
      //   const token = sessionStorage.getItem('token') || ''
      //   const url = `ws://45.34.10.218:8888?token=${token}`
      //   return url
      // },

      reload() {
        this.isRouterAlive = false;
        this.$nextTick(function () {
          this.isRouterAlive = true;
        })
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;
  }
</style>
